<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039262852244-hr1cmiqfde58vgjpj11pjo35sleqpf35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039262852244-hr1cmiqfde58vgjpj11pjo35sleqpf35</string>
	<key>API_KEY</key>
	<string>AIzaSyCgBKsmkzniEvAu5LD_MnFXxLHjZRwvKlw</string>
	<key>GCM_SENDER_ID</key>
	<string>1039262852244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test</string>
	<key>PROJECT_ID</key>
	<string>test-845d0</string>
	<key>STORAGE_BUCKET</key>
	<string>test-845d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039262852244:ios:60eed8b4f67e6583cd4081</string>
</dict>
</plist>